body{
    margin: 0px;
    background-color: #C8EDF0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(180deg, #66F499 , #31754A);
}
header > h1{
    padding-top: 20px;
    margin: 0px;
    text-align: center;
    text-shadow: 1px 1px 1px #0000004b;
    color: white;
    font-family: sans-serif;
}
header > p{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #0000005e;
}
nav > a{
    display: flexbox;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 3px;
}
nav > a:hover{
    background-color: #66F499;
    color: #31754A;
}
@font-face {
    font-family: 'cursoemvideo';
    src: url(fontes/idroid.otf);
}
nav{
    padding-bottom: 6px;
}
main{
    width: 85%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 0px 0px 10px 10px;
}
main > h1{
    font-family: 'cursoemvideo';
    color: #31754A;
    margin-top: 0px;
    padding-top: 10px;
}
main > h2{
    font-family: 'cursoemvideo';
    background-image: linear-gradient(90deg, #66f49a69, white);
    color: #31754A;
}
main > p{
    text-align: justify;
    text-indent: 20px;
}
.linknormal{
    text-decoration: none;
    font-weight: bold;
    color: #31754A;
}
.linkcustom{
    text-decoration: none;
    font-weight: bold;
    color: #31754A;
}
.linkcustom::after{
    content: '📎';
}
footer{
    display: flexbox;
    background-color: #31754A;
}
footer > p{
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px;
    color: white;
}
#video{
    background-color: #31754A;
    padding: 30px 20px;
}
article > p{
    text-indent: 20px;
}
#extra{
    background-color: #aec9b8;
    border: none;
    border-radius: 10px;
    padding-bottom: 10px;
}
#extra > h2{
    background: #31754A;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    color: white;
}
#extra > section{
    display: inline-block;
    width: 48%;
    margin: auto;
}