@charset "UTF-8";

#container {
    background-color: rgb(48, 48, 48);
    border: 2px solid red;
    padding: 10px;
}
#container div {
    background-color: aquamarine;
    border: 1px solid lightgray;
    height: 80px;
}