@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    grid-area: h;
    height: 100px;
    background-color: aqua;
}
main {
    grid-area: m;
    height: 100px;
    background-color: blue;
}
aside {
    grid-area: a;
    height: 100px;
    background-color: blueviolet;
}
footer {
    grid-area: f;
    height: 100px;
    background-color: yellowgreen;
}

#container {
    display: grid;
    grid-template-areas:
    "h h h"
    "m m a"
    ". f f";
}